:org.apache.felix.configadmin.revision:=L"2"
_lastChangeAt="2025-04-02T00:02:43"
_lastChangeBy="Internal:\ ExtremeEverValues"
alias="Core.Sum"
consumptionMaxActivePower=I"600000"
essMaxDischargePower=I"600000"
essMinDischargePower=I"-600000"
id="_sum"
service.bundleLocation="?"
service.pid="Core.Sum"
