:org.apache.felix.configadmin.revision:=L"1"
_lastChangeAt="2025-04-01T00:04:16"
_lastChangeBy="admin:\ Admin"
alias=""
capacity="1200000"
enabled="true"
gridMode="ON_GRID"
id="ess0"
initialSoc="50"
maxApparentPower="600000"
service.factoryPid="Simulator.EssSymmetric.Reacting"
service.pid="Simulator.EssSymmetric.Reacting.4dd27941-3b7b-4bc3-81cb-5d28b794510b"
