:org.apache.felix.configadmin.revision:=L"9"
Component.target="(&(!(service.pid\=Controller.Api.ModbusTcp.ReadWrite.29694b80-0e29-4045-be18-ac05323f17fb))(|(id\=ess0)(id\=_sum)))"
_lastChangeAt="2025-04-01T00:47:34"
_lastChangeBy="admin:\ Admin"
alias=""
apiTimeout="60"
component.ids=[ \
  "ess0", \
  "_sum", \
  ]
enabled="true"
id="ctrlApiModbusTcp0"
maxConcurrentConnections="5"
port="502"
readChannels=[ \
  "", \
  ]
service.factoryPid="Controller.Api.ModbusTcp.ReadWrite"
service.pid="Controller.Api.ModbusTcp.ReadWrite.29694b80-0e29-4045-be18-ac05323f17fb"
writeChannels=[ \
  "Ess0SetActivePowerEquals", \
  "Ess0SetReactivePowerEquals,Ess0SetActivePowerEquals\ ", \
  "Ess0SetReactivePowerEquals", \
  ]
